@using SilkDesign.Models;
@model Location
@{

    ViewData["Title"] = "Create Location";
}

<h1>Create Customer Location for @ViewBag.CustomerName</h1>
<h2 class="alert-danger">@ViewBag.Result</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
    </div>
    <div class="form-group">
            
            <input type="hidden" class="form-control" asp-for="CustomerID" value="@ViewBag.CustomerID"/>
    </div>
    <div class="form-group">
            
            <input type="hidden" class="form-control" asp-for="LocationTypeID" value="@ViewBag.LocationTypeID" />
    </div>
    <div class="text-center panel-body">
        <br />
        <button type="submit" class="btn btn-sm btn-primary">Create</button>
        <button class="btn btn-sm btn-primary" onclick="javascript:history.go(-1);return false;">Cancel</button>

    </div>

</form>