@using SilkDesign.Models;
@model IEnumerable<Login>


@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutNotLoggedIn.cshtml";
}
<h1>Customers <a asp-action="Create" class="btn btn-sm btn-secondary">Add Customer</a></h1>
Entites with whom contracts/aggreements are signed.
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th class="text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="5" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>

                    <td>@p.UserName</td>
                    <td>@p.IsAdmin</td>
                    <td class="text-center"><a asp-action="Login" asp-route-id=""><img src="~/images/pencil-2-16.png" /></a></td>
                </tr>
            }
        }
    </tbody>
</table>