@using SilkDesign.Models;
@model IEnumerable<Size>


@{
    ViewData["Title"] = "Read Size";
}
<h1>Sizes <a asp-action="Create" class="btn btn-sm btn-secondary">Add Size</a></h1>
List of availble sizes for an arrangement.
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Sort Order</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="5" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>

                    <td>@p.Code</td>
                    <td>@p.Description</td>
                    <td>@p.SortOrder</td>
                    <td><a asp-action="Update" asp-route-id="@p.SizeID">Update</a></td>
                </tr>
            }
        }
    </tbody>
</table>